@{
    ViewData[index: "Title"] = "Dashboard ";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the Student Course Registration System
    </h1>
</div>

<div class="row" id="courseContainer">

</div>
<script>
    const userRole = '@User.FindFirst(System.Security.Claims.ClaimTypes.Role)?.Value';
</script>
@section Scripts {
    <script src="~/js/dashboard.js"></script>
}