@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page not found</title>
    <link rel="stylesheet" href="~/css/error.css">
    </head>
    <body>
        <section class="text-center ">
            <div class="p-5 bg-image" id='back-ground-panel' alt="This is background image"></div>

            <div class="card mx-4 mx-md-5 shadow-5-strong  d-flex justify-content-center error-content-area">
                <div class="card-body ">

                    <div class=" row d-flex justify-content-center">
                        <div class=" col-lg-6">
                            <h2 class="fw-bold mb-5">PageNotFound</h2>
                            <div class="mb-4">
                                <div class="custom-body-text-color p-3 h4 ">
                                    Sorry, the page you are looking for could not be found.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </body>

</html>