@{
    ViewData["Title"] = "Courses";
}
@model CourseCraft.Repository.ViewModels.CourseViewModel
<div class="d-flex flex-column w-100 p-4">
    <div class="d-flex justify-content-between w-100 mb-3 d-sm-row d-column flex-wrap flex-sm-nowrap ">
        <h1 class="custom-body-text-color">Courses</h1>
        <div class="d-flex align-items-center gap-2 d-sm-row d-column  flex-wrap flex-sm-nowrap">
            <div class="d-flex align-items-center border rounded px-2 bg-white"
                 style="gap: 5px; width: 220px; height: 38px;">
                <input class="form-control border-0 shadow-none p-0" type="text" placeholder="Search" id="searchInput"
                       style="width: 100%; font-size: 14px; height: 100%;">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" class="bi bi-search" viewBox="0 0 16 16">
                    <path
                    d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0" />
                </svg>
            </div>

            <a class="btn btn-primary text-white d-flex align-items-center" style="height: 38px; padding: 6px 12px;"
                   id="openaddCourseModal">
                + New Course
            </a>

        </div>
    </div>
    <div id="courseContainer">
    </div>
</div>
<!-- Add New Course Modal -->
<div class="modal fade" id="addCourseModal" tabindex="-1" aria-labelledby="addCourseModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addCourseModalLabel">Add New Course</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="addCourseForm" asp-action="AddNewCourse" asp-controller="Courses" method="post">
                    <div class="mb-3">
                        <div class="form-floating">
                            <input asp-for="CourseName" class="form-control" placeholder="Name" />
                            <span asp-validation-for="CourseName" class="text-danger"></span>
                            <label asp-for="CourseName" class="form-label">Course Name*</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <div class="form-floating">
                                <input asp-for="CourseDepartment" class="form-control" placeholder="CourseDepartment" />
                                <span asp-validation-for="CourseDepartment" class="text-danger"></span>
                                <label asp-for="CourseDepartment" class="form-label">Course Department*</label>
                            </div>
                        </div>
                        <div class="col-md-6 mb-3">
                            <div class="form-floating">
                                <input asp-for="CourseCredits" class="form-control" placeholder="Course Credits*" />
                                <span asp-validation-for="CourseCredits" class="text-danger"></span>
                                <label asp-for="CourseCredits" class="form-label">Course Credits*</label>
                            </div>
                        </div>
                    </div>
                    <div class="mb-3">
                        <div class="form-floating">
                            <input asp-for="CourseContent" class="form-control" placeholder="CourseContent" />
                            <span asp-validation-for="CourseContent" class="text-danger"></span>
                            <label asp-for="CourseContent" class="form-label">Course Content*</label>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer d-flex justify-content-end">
                <button type="submit" class="btn btn-primary text-white" form="addCourseForm">Save</button>
                <button type="button" class="btn btn-outline-primary" data-bs-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>

<!-- Edit  Course Modal -->
<div class="modal fade" id="editCourseModal" tabindex="-1" aria-labelledby="editCourseModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editCourseModal">Add New Course</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="editCourseForm" asp-action="UpdateCourse" asp-controller="Courses" method="post">
                    <input type="hidden" id="editCourseId" name="CourseId" />
                    <div class="mb-3">
                        <div class="form-floating">
                            <input asp-for="CourseName" class="form-control" placeholder="Name" id="editCourseName" />
                            <span asp-validation-for="CourseName" class="text-danger"></span>
                            <label asp-for="CourseName" class="form-label">Course Name*</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <div class="form-floating">
                                <input asp-for="CourseDepartment" class="form-control" placeholder="CourseDepartment"
                                       id="editCourseDepartment" />
                                <span asp-validation-for="CourseDepartment" class="text-danger"></span>
                                <label asp-for="CourseDepartment" class="form-label">Course Department*</label>
                            </div>
                        </div>
                        <div class="col-md-6 mb-3">
                            <div class="form-floating">
                                <input asp-for="CourseCredits" class="form-control" placeholder="Course Credits*"
                                       id="editCourseCredits" />
                                <span asp-validation-for="CourseCredits" class="text-danger"></span>
                                <label asp-for="CourseCredits" class="form-label">Course Credits*</label>
                            </div>
                        </div>
                    </div>
                    <div class="mb-3">
                        <div class="form-floating">
                            <input asp-for="CourseContent" class="form-control" placeholder="CourseContent"
                                   id="editCourseContent" />
                            <span asp-validation-for="CourseContent" class="text-danger"></span>
                            <label asp-for="CourseContent" class="form-label">Course Content*</label>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer d-flex justify-content-end">
                <button type="submit" class="btn btn-primary text-white" form="editCourseForm"
                        id="saveChangesBtn">Save</button>
                <button type="button" class="btn btn-outline-primary" data-bs-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>
<!-- Delete Tax Modal -->
<div class="modal fade" id="deleteCourseModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5">Delete Confirmation</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form id="deleteCourseForm">
                <div class="modal-body text-center">
                    <img src="~/images/icons/warning-icon.svg" alt="" width="30px" height="30px" class="mb-2">
                        <p>Are you sure you want to delete this course?</p>
                        <input type="hidden" id="deleteCourseId">
                    </div>
                    <div class="modal-footer d-flex justify-content-center">
                        <button type="submit" class="btn btn-primary text-white">YES</button>
                        <button type="button" class="btn btn-outline-primary" data-bs-dismiss="modal">NO</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <script>
        $(document).ready(function () {
        let currentPage = 1;
        let pageSize = $("#pageSizeDropdown").val();
        let searchQuery = $("#searchInput").val();

        loadCourses(currentPage, pageSize, searchQuery);

        function loadCourses(page, size, search) {
        $.ajax({
        url: '/Courses/GetCoursesTable',
        type: 'GET',
        data: {
        page: page,
        pageSize: size,
        search: search
        },
        success: function (data) {
        $('#courseContainer').html(data);
        searchQuery = "";
        updatePaginationControls();
        rebindPaginationEvents();
        },
        });
        }

        function updatePaginationControls() {
        let totalPages = parseInt($("#totalPages").val());
        $("#prevPageBtn").prop("disabled", currentPage <= 1);
        $("#nextPageBtn").prop("disabled", currentPage >= totalPages);
        }

        function rebindPaginationEvents() {
        let totalPages = parseInt($("#totalPages").val());


        $("#prevPageBtn").off("click").on("click", function () {
        if (currentPage > 1) {
        currentPage--;
        loadCourses(currentPage, pageSize);
        }
        });

        $("#nextPageBtn").off("click").on("click", function () {
        if (currentPage < totalPages) {
        currentPage++;
        loadCourses(currentPage, pageSize);
        }
        });

        $("#pageSizeDropdown").off("change").on("change", function () {
        pageSize = $(this).val();
        currentPage = 1;
        loadCourses(currentPage, pageSize);
        });

        $(document).on("input", "#searchInput", function () {
        let search = $(this).val().trim();
        searchQuery = search;
        loadCourses(currentPage, pageSize, searchQuery);
        searchQuery = "";
        });

        }

        $("#openaddCourseModal").click(function () {
        $("#addCourseModal").modal("show");
        });

        $("#addCourseForm").submit(function (e) {
        e.preventDefault();

        $(".field-validation-error").text("");

        var form = $(this);
        var formData = form.serialize();

        $.ajax({
        type: "POST",
        url: form.attr("action"),
        data: formData,
        success: function (response) {
        if (response.success) {
        toastr.success("Course added successfully!");
        $("#addCourseForm")[0].reset();

        $(".text-danger").text("");

        $("#addCourseModal").modal("hide");
        loadCourses(currentPage, pageSize);
        } else if (response.errors) {
        $.each(response.errors, function (key, messages) {
        $(`[data-valmsg-for="${key}"]`).text(messages[0]);
        });
        } else {
        toastr.error(response.message || "Something went wrong.");
        }
        },
        error: function () {
        toastr.error("Something went wrong!");
        }
        });
        });

        $("#addCourseModal").on("hidden.bs.modal", function () {

        $("#addCourseForm")[0].reset();

        $(".text-danger").text("");
        });

        $("#editcourseModal").on("hidden.bs.modal", function () {

        $("#editCourseForm")[0].reset();


        $(".text-danger").text("");
        });

        // Edit Course Modal Open
        $(document).on("click", ".edit-course", function (e) {
        e.preventDefault();
        var id = $(this).data("courseid");

        $.ajax({
        url: "/Courses/GetCourseById/" + id,
        type: "GET",
        success: function (response) {
        if (response.success) {
        console.log(response);

        $("#editCourseId").val(response.courseId);
        $("#editCourseName").val(response.courseName);
        $("#editCourseContent").val(response.courseContent);
        $("#editCourseCredits").val(response.courseCredits);
        $("#editCourseDepartment").val(response.courseDepartment);


        $("#editCourseModal").modal("show");
        } else {
        toastr.error(response.message || "Failed to load  course details.");
        }
        },
        error: function () {
        toastr.error("Error loading course details.");
        }
        });
        });

        // Save Changes in Edit Course Modal
        $("#saveChangesBtn").click(function (e) {
        e.preventDefault();


        var formData = $("#editCourseForm").serialize();

        $.ajax({
        type: "POST",
        url: "/Courses/UpdateCourse",
        data: formData,
        success: function (response) {
        if (response.success) {
        toastr.success('Course updated successfully!');
        $("#editCourseModal").modal("hide");
        loadCourses(currentPage, pageSize);
        }
        else if (response.errors) {
        $.each(response.errors, function (key, messages) {
        $(`[data-valmsg-for="${key}"]`).text(messages[0]);
        });
        } else {
        toastr.error('Error updating course.', 'Error');
        }
        },
        error: function (response) {
        if (response.status === 400) {

        $(".text-danger").text("");

        var errors = response.responseJSON.errors;
        $.each(errors, function (key, value) {

        $("#" + key + "Error").text(value[0]);
        });
        } else {
        toastr.error('Error updating tax.');
        }
        }
        });
        });

        // Delete Course
        $(document).on("click", ".delete-course", function () {
        var id = $(this).data("courseid");
        $("#deleteCourseId").val(id);
        $("#deleteCourseModal").modal("show");
        });
        $("#deleteCourseForm").submit(function (e) {
        e.preventDefault();

        var id = $("#deleteCourseId").val();

        $.ajax({
        type: "POST",
        url: "/Courses/SoftDeleteCourse",
        data: { id: id },
        dataType: "json",
        success: function (response) {
        if (response.success) {
        toastr.success('Course deleted successfully!');
        $('#deleteCourseModal').modal('hide');
        loadCourses(currentPage, pageSize);
        } else {
        toastr.error('Error deleting Course.');
        }
        },
        error: function () {
        toastr.error('Error deleting Course.');
        }
        });
        });


        $(document).on('change', '.form-check-input-quick', function () {
        var checkbox = $(this);
        var courseId = checkbox.data('id');
        var isChecked = checkbox.is(':checked');
        var toggleType = checkbox.data('type');
        var previousValue = !isChecked;

        $.ajax({
        url: '/Courses/ToggleCourseField',
        type: 'POST',
        data: { courseId: courseId, isChecked: isChecked, field: toggleType },
        success: function (response) {
        if (response.success) {
        let customMessage = '';

        switch (toggleType) {
        case 'IsEnabled':
        customMessage = isChecked ? 'Course has been opened successfully.' : 'Course has been close successfully.';
        break;
        default:
        customMessage = 'Field updated successfully.';
        }
        toastr.success(customMessage);
        } else {
        toastr.error(response.message || "Something went wrong while updating.");
        setTimeout(() => {
        checkbox.prop('checked', previousValue);
        }, 500);
        }
        },
        error: function (xhr) {
        if (xhr.status === 403) {
        toastr.error("Access Denied: You don't have permission to perform this action.");
        } else {
        toastr.error("An error occurred while updating.");
        }
        // Revert with a delay
        setTimeout(() => {
        checkbox.prop('checked', previousValue);
        }, 500);
        }
        });
        });
        });
    </script>